<form class="p-5 d-flex justify-content-center"
      [formGroup]="contractFrom">
  <div class="w-50">

    <div class="mb-4">
      <label>是否尊榮</label>
      <select class="form-select"
              formControlName="honor"
              (change)="onHonorSelect()">
        <option [value]="HonorType.Honor">尊榮</option>
        <option [value]="HonorType.NotHonor">非尊榮</option>
      </select>
    </div>

    <div class="mb-4">
      <label>活動類型</label>
      <select class="form-select"
              formControlName="activityType">
        <option [value]="ActivityType.NoMarkup">店內價</option>
        <option [value]="ActivityType.MarkUpDeal">抬價 + Deal</option>
        <option [value]="ActivityType.MarkUp">抬價</option>
        <option *ngIf="contractFrom.value.honor == HonorType.NotHonor"
                [value]="ActivityType.LH2">LH2</option>
        <option *ngIf="contractFrom.value.honor == HonorType.NotHonor"
                [value]="ActivityType.TaipeiUE">台北 UE</option>
        <option [value]="ActivityType.NoMarkUpDeal">店內價 & 抬價 + deal</option>
      </select>
    </div>

    <button type="button"
            class="btn btn-success mb-3"
            (click)="search()">查詢</button>
    <ng-container *ngIf="ui.showResult">
      <div>查詢結果</div>
      <div>合約版本：{{ result.contractVersion }}</div>
      <div>增補％：{{ result.addPatch }}</div>
      <div>合作同意書：{{ result.cooperate }}</div>
      <div>活動方案名稱：{{ result.planName }}</div>
      <div>活動％：</div>
      <div>Opportunity：</div>
    </ng-container>
  </div>
</form>
